<h3 class="front-page-h3">
   <%= flash[:notice] %>
 </h3>
<div class="hero-image">
  <div class="hero-text">
    <h1 class="front-page-h1">Welcome to MakersBnb </h1></br>
    <h2 class="front-page-h2">Your dream vacation is just few clicks away</h2> </br></br>
    <div class="authentication-option">
      <div class="authentication-buttons">
        <form action="/new-user">
          <input type='submit' value="Register" class="button button1">
        </form>
      </div>
      <div class="authentication-buttons">
        <form action="/signinpage">
          <input type='submit' value="Sign in" class="button button1">
        </form>
      </div>
    </div>
  </div>
</div>
