<form action='/new-listing'>
  <input type='submit' value='Create a new listing'>
</form>

<% @listings.each do |listing| %>
  <div class = "entry">
  <a href="../listings/<%= listing.id %>"><%= listing.title %></a>
  <%= listing.location %>
  <a>£<%= listing.price_per_night %>/night </a>
  </div>
  <% end %>