<div class="hero-text-authenticate">
  <h2 class="text"> Register </h2>
  <form action="/registered" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign up">
  </form>
</div>