<h2>
   <%= flash[:notice] %>
 </h2>
 
<form action='/listing-created' method='post'>
    <input type='text' name='title' class='title' placeholder='Enter a title'>
    <input type='text' name='description' class='description' placeholder='Enter a description'>
    <input type='text' name='location' class='location' placeholder='Enter a location'>
    <input type='text' name='price_per_night' class='price-per-night' placeholder='Enter a price per night'>
    <input type='submit' value='Submit'>
</form>