<style>

.title {
  height: 20px;
}

.description {
  height: 100px;
}

.description, .title, .location, .price-per-night {
  display: block;
  width: 30%;
  resize:none;
}
</style>

<h2>

   <%= flash[:notice] %>
 </h2>
 
<form action='/listing-created' method='post'>
    <label for="title">Title:</label>
    <input type='text' name='title' class='title'>
    <label for="description">Description:</label>
    <textarea name='description' class='description'></textarea>
    <label for="location">Location:</label>
    <input type='text' name='location' class='location'>
    <label for="price_per_night">Price per night:</label>
    <input type='text' name='price_per_night' class='price-per-night'>
    <input type="submit" value="Submit" />
</form>