<% @property.each do | p | %>
    <%= p.title %>
    <%= p.description %>
    <%= p.location %>
    £<%= p.price_per_night %> / night
<% end %>

<form action='/listings'>
    <input type="submit" value="Back to all listings">
</form>